<body>
    <div class="bar">
      <button class="button0" routerLink="/admin/home">HOME</button>
      <button class="button0" routerLink="/admin/books">BOOKS</button>
      <button class="button0" routerLink="/admin/users">USERS</button>
      <form action="" method="get">
        <input name="s" placeholder="SEARCH FOR USER HERE..." type="search"/>
        <button type="submit" class="button4">SEARCH</button>
      </form>
      <a (click)="onLogOutButtonClick()" style="margin-left: 500px"
        ><img src="/assets/exit.png" alt="" style="width: 50px; height: 50px"
      /></a>
    </div>
    <div class="tables">
        <div class="addBook">
            <div class="addBookText">Add a new user</div>
            <div style="margin-left: 50px; margin-top: 10px;">
            <div>
                <input type="text" placeholder="First name" class="addBookInput" />
              </div>
              <div>
                <input type="text" placeholder="Last name" class="addBookInput"/>
              </div>
              <div>
                <input type="text" placeholder="Email" class="addBookInput"/>
              </div>
              <div>
                <input type="text" placeholder="Password" class="addBookInput"/>
              </div>
            </div>
            <button class="button0" style="margin-top: 100px; margin-left: 120px; width: 150px;" >ADD USER</button>
        </div>
      <table class="table">
        <!-- head -->
        
        

        <thead>
          
            <th style="width: 50px;"></th>
            <th style="width: 100px;"></th>
            <th style="width: 200px;">FIRST NAME</th>
            <th style="width: 200px;">LAST NAME</th>
            <th style="width: 200px;">EMAIL</th>
            <th style="width: 100px;">DELETE</th>
            <th style="width: 150px;">EDIT</th>
          
        </thead>
        <div class="container">
            <div class="fixed-block"></div>
            <div class="scroll">
        <tbody>
          <th style="width: 50px;"></th>
            <th style="width: 100px;"></th>
            <th style="width: 200px;"> </th>
            <th style="width: 200px;"></th>
            <th style="width: 200px;"></th>
            <th style="width: 100px;"></th>
            <th style="width: 100px;"></th>
          <!-- row 1 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 2 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 3 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 4 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 5 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 6 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 7 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 8 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 9 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 10 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 11 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
          <!-- row 7 -->
          <tr>
            <td>1</td>
            <td><img src="/assets/userPhoto1.png" alt="" class="imgUser" /></td>
            <td>Alina</td>
            <td>Berns</td>
            <td>alina1berns@gmail.com</td>
            <td><button class="buttonUser1">DELETE</button></td>
            <td>
              <button class="buttonUser2" routerLink="/updateuser">EDIT</button>
            </td>
          </tr>
        </tbody>
        </div>
    </div>
      </table>
    </div>
    <div style="margin-left: 0px;">
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
  </body>
