<section>
  <div class="block">
    <div class="text1">
      THE READING
    </div>
    <div class="text5">of all good books is like</div>
    <div class="text6">CONVERSATION</div>
    <div class="text7">with the finest men of past centuries.</div>

    <div class="text0">
      (C) René Descartes
    </div>
    <div class="loginbox">
      <div class="text2">REGISTRATION</div>
      <div>
        <input type="text" placeholder="First Name" />
      </div>
      <div>
        <input type="text" placeholder="Last Name" />
      </div>
      <div>
        <input type="text" placeholder="Email" />
      </div>
      <div>
        <input type="password" placeholder="Password" />
      </div>
      <button>SIGN UP</button>
      <div class="text3">
        Already have an account? <br>Login below
      </div>
      <button routerLink="/startpage">LOG IN</button>
    </div>
    <div class="text4">
      <img
        src="/assets/library_icon_152820.png"
        alt=""
        style="height: 20px; width: 20px"
      />
      Free Library
      <img
        src="/assets/library_icon_152820.png"
        alt=""
        style="height: 20px; width: 20px"
      />
    </div>
    
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Team</a></li>
    </ul>
  </div>
</section>
