<section>
  <nav>
    <!-- <button routerLink="/login">Login</button> -->
    <!-- <button routerLink="/registration">Registration</button> -->
    <!-- <div class="text4"> -->
    <!-- <img -->
    <!-- src="/assets/library_icon_152820.png" -->
    <!-- alt="" -->
    <!-- style="height: 20px; width: 20px" -->
    <!-- /> -->
    <!-- Free Library -->
    <!-- <img -->
    <!-- src="/assets/library_icon_152820.png" -->
    <!-- alt="" -->
    <!-- style="height: 20px; width: 20px" -->
    <!-- /> -->
    <!-- </div> -->
    <!-- </div> -->
    
    <div class="img1 divin">
      <img src="/assets/book1.jpg" alt="" class="grey-image" />
    </div>
    <div class="img2 divin">
      <img src="/assets/book2.jpg" alt="" class="grey-image" />
    </div>
    <div class="img3 divin">
      <img src="/assets/book3.jpg" alt="" class="grey-image" />
    </div>
    <div class="block">
      <div class="text1">
        FIND<br /><br /><br /><br />
        THE RIGHT BOOKS <br /><br /><br /><br />FOR YOU
      </div>
      <div class="text0">
        THOUSANDS OF WORLDS<br />
        ON ONE SITE
      </div>

  <!-- <LogIn Form> -->
    <form (submit)="login()">
      <div class="loginbox">
        <div class="text2">LOGIN</div>
        <div>
        <input type="text" placeholder="username" [(ngModel)]="username" name="username" placeholder="username" required/>
        </div>
        <div>
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password" placeholder="Password" required/>
        </div>
          <button class="button0">LOG IN</button>
        <div class="text3">
          Don't you have an account? <br />Register below.
        </div>
        <button class="button0" routerLink="/registration">SIGN UP</button>
      </div>
   </form>

      <div class="text01">
        Our project was created in 2023 by three enthusiasts in <br />order for
        people to love reading even more.<br /><br />

        Here you can reserve a book and pick it up from the <br />library at any
        convenient time for you.<br />
      </div>
      <div class="text4">
        Free Library
      </div>

      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
  </nav>
</section>
