body {
  margin: auto;
  outline: none;
  background-image: url(/assets/background_img4.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 1405px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.bar {
  width: auto;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgba(128, 128, 128, 0.306);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.block {
  width: 1000px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.342);
  padding-top: 50px;
  margin-left: 250px;
  border: 3px solid rgba(128, 128, 128, 0.306);
  display: inline-block;
}
.block2 {
    width: 1000px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.489);
    margin-left: 250px;
    border: 3px solid rgba(128, 128, 128, 0.306);
    display: inline-block;
  }
.text1 {
  margin-top: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.575);
  font-family: Kaisei Decol;
  text-align: center;
  margin-right: 600px;
}
.button2 {
    margin-top: 8px;
    width: 200px;
    height: 35px;
    background: rgba(0, 0, 0, 0.461);
    color: #ffffffae;
    text-align: center;
    text-shadow: rgba(255, 255, 0, 0.041);
    font-family: Kaisei Decol;
    font-size: 15px;
   
    
  }
