nav {

  margin: 0%;
  padding: 0%;
  outline: none;
  background-image: url(/assets/background_img4.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 1405px;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* .aa { */
/* width: auto; */
/* height: 60px; */
/* flex-shrink: 0; */
/* background: rgba(0, 28, 16, 0.413); */

/* } */
.button0 {
  margin-top: 25px;
  width: 200px;
  height: 35px;
  background: rgb(0, 0, 0);
  color: #ffffffae;
  text-align: center;
  text-shadow: rgba(255, 255, 0, 0.041);
  font-family: Kaisei Decol;
  font-size: 15px;
  margin-left: 198px;
  border: 1px solid grey;
}
.button0:hover {
  transition: 1s;
  color: white;
  background: rgb(3, 3, 3);

}
.block {
  width: 818px;
  height: 1405px;
  background: rgba(0, 28, 16, 0.443);
  float: right;
  position: relative;
  border-radius: 3px;
  border: 1px solid grey;
  opacity: 0;
  animation: ani 2.5s forwards;
  
}
.text1 {
  color: #d7d7d7;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(255, 191, 0, 0.632);
  font-family: Kaisei Decol;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 24.286% */
  padding-top: 150px;
  animation: ch-color 3s infinite;
}
.text2 {
  flex-shrink: 0;
  color: #d7d7d7;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kameron;
  font-size: 25px;
  padding-top: 25px;
  text-shadow: 0px 4px 4px rgba(253, 202, 34, 0.495);
}
.text0 {
  flex-shrink: 0;
  color: #d7d7d7a9;
  text-align: right;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kameron;
  font-size: 20px;
  padding-top: 50px;
  padding-right: 120px;
  text-shadow: 0px 4px 4px rgba(229, 255, 0, 0.361);
  
}
.text01 {
  flex-shrink: 0;
  color: #d7d7d7bb;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(238, 255, 0, 0.25);
  font-family: Kameron;
  font-size: 25px;
  padding-top: 110px;
  padding-left: 120px;
}

.text3 {
  flex-shrink: 0;
  color: #d7d7d7c5;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kameron;
  font-size: 15px;
  padding-top: 25px;
}
.text4 {
  color: #fefdfd94;
  text-align: center;
  font-family: Kaisei HarunoUmi;
  font-size: 20px;
  padding-top: 70px;
  font-style: italic;
}
.grey-image {
  filter: grayscale(1);
  transition: 1s;
  height: 450px;
  width: 300px;
}
.grey-image:hover {
  filter: grayscale(0);
  height: 500px;
  width: 350px;
}

.img1 {
  margin-top: 70px;
  margin-left: 300px;
  opacity: 0;
  animation: ani 2.5s forwards;
}
.img2 {
  margin-left: 50px;
  margin-top: 300px;
  opacity: 0;
  animation: ani 2.5s forwards;
}
.img3 {
  margin-left: 250px;
  margin-top: 550px;
  opacity: 0;
  animation: ani 2.5s forwards;
}

.divin {
  display: inline-block;
  position: absolute;
}
ul > li > a {
  display: inline-block;
  color: #ffffffc3;
  text-align: center;
  font-family: Kaisei Decol;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
ul > li {
  display: inline-block;
  text-align: right;
  margin-right: 100px;
  margin-left: 67px;
  margin-top: 40px;
}
ul>li>a:hover{
  color: #ffffff;
}
input {
  width: 300px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.304);
  margin-top: 30px;
  margin-left: 145px;
  color: #f9f7f7c6;
  text-align: center;
  font-size: large;
  font-family: Kaisei Decol;
}
input::-webkit-input-placeholder {
  color: rgba(243, 238, 238, 0.66);
  opacity: 70%;
  text-align: center;
  font-size: large;
  font-family: Kaisei Decol;
}

.loginbox {
  width: 600px;
  height: 400px;
  background: rgba(0, 0, 0, 0.454);
  float: center;
  position: relative;
  margin-top: 100px;
  margin-left: 105px;
  transition: 1s;
  border: 1px solid grey;
}

.loginbox:hover {
  background: rgba(0, 0, 0, 0.626);
}



@keyframes ch-color {
  0% {
    text-shadow: 0px 4px 4px rgba(255, 204, 0, 0.418);
  }
  25% {
    text-shadow: 0px 4px 4px rgba(255, 216, 45, 0.854);
  }
  50% {
    text-shadow: 0px 4px 4px rgba(255, 213, 0, 0.555);
  }
  75% {
    text-shadow: 0px 4px 4px rgba(255, 225, 103, 0.897);
  }
  100% {
    text-shadow: 0px 4px 4px rgba(255, 200, 0, 0.452);
 
    
  }
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}