<section>
  <div class="block">
    
    <div class="loginbox">
        <div class="avatar online">
            <div class="w-24 rounded-full">
              <img src="/assets/userPhoto.jpg" />
            </div>
          </div>
      <div class="text2">USER1</div>
      <div class="text2">user1snooppi@gmail.com</div>
      <div>
        
        <input type="text" placeholder="First Name" />
      </div>
      <div>
        <input type="text" placeholder="Last Name" />
      </div>
      <div>
        <input type="text" placeholder="Email" />
      </div>
      <div>
        <input type="password" placeholder="Password" />
      </div>
      <button>SIGN UP</button>
      <div class="text3">Already have an account? <br />Login below</div>
      <button routerLink="/startpage">LOG IN</button>
    </div>
    <div class="text4">
      <img
        src="/assets/library_icon_152820.png"
        alt=""
        style="height: 20px; width: 20px"
      />
      Free Library
      <img
        src="/assets/library_icon_152820.png"
        alt=""
        style="height: 20px; width: 20px"
      />
    </div>

    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Team</a></li>
    </ul>
  </div>

</section>
