<body>
  <div class="bar">
    <button class="button0" routerLink="/admin/home">HOME</button>
    <button class="button0" routerLink="/admin/books">BOOKS</button>
    <button class="button0" routerLink="/admin/users">USERS</button>
    <form action="" method="get">
      <input name="s" placeholder="SEARCH FOR USER HERE..." type="search" />
      <button type="submit" class="button4">SEARCH</button>
    </form>
    <a routerLink="/login" style="margin-left: 500px"
      ><img src="/assets/exit.png" alt="" style="width: 50px; height: 50px"
    /></a>
  </div>
  <div class="tables">
    <div>
      <table class="table1" style="position: fixed">
        <!-- head -->
        <thead>
          <tr>
            <th style="width: 10px;"></th>
            <th style="width: 100px;"></th>
            <th style="width: 200px;  ">FIRST NAME</th>
            <th style="width: 200px; ">LAST NAME</th>
            <th style="width: 200px; ">EMAIL</th>
            <th style="width: 100px; ">FINE</th>
          </tr>
        </thead>
        <div class="container">
          <div class="fixed-block"></div>
          <div class="scroll">
  
            <tbody>
              <tr>
                <th style="width: 10px;"></th>
                <th style="width: 100px;"></th>
                <th style="width: 200px;"></th>
                <th style="width: 200px; "></th>
                <th style="width: 200px; "></th>
                <th style="width: 50px; "></th>
              </tr>
              <!-- row 1 -->
              <tr>
                <td>1</td>
                <td>
                  <img src="/assets/11zon_cropped.png" alt="" class="imgUser" />
                </td>
                <td>Cy</td>
                <td>Ganderton</td>
                <td>cy.ganderton@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 2 -->
              <tr>
                <td>2</td>
                <td>
                  <img src="/assets/userPhoto1.png" alt="" class="imgUser" />
                </td>
                <td>Harry</td>
                <td>Potter</td>
                <td>potter.h@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 3 -->
              <tr>
                <td>3</td>
                <td>
                  <img src="/assets/userPhoto2.png" alt="" class="imgUser" />
                </td>
                <td>Tom</td>
                <td>Lammers</td>
                <td>lammers@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 4 -->
              <tr>
                <td>4</td>
                <td>
                  <img src="/assets/userPhoto3.png" alt="" class="imgUser" />
                </td>
                <td>Alina</td>
                <td>Berns</td>
                <td>berns@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 5 -->
              <tr>
                <td>5</td>
                <td>
                  <img src="/assets/userPhoto4.png" alt="" class="imgUser" />
                </td>
                <td>Jhon</td>
                <td>Jammer</td>
                <td>jj@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 6 -->
              <tr>
                <td>6</td>
                <td>
                  <img src="/assets/userPhoto5.png" alt="" class="imgUser" />
                </td>
                <td>Ben</td>
                <td>Jammer</td>
                <td>bj@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 7 -->
              <tr>
                <td>7</td>
                <td>
                  <img src="/assets/userPhoto6.png" alt="" class="imgUser" />
                </td>
                <td>Lin</td>
                <td>Tommer</td>
                <td>ll@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 8 -->
              <tr>
                <td>8</td>
                <td>
                  <img src="/assets/userPhoto7.png" alt="" class="imgUser" />
                </td>
                <td>Lisa</td>
                <td>Berns</td>
                <td>lb@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 9 -->
              <tr>
                <td>9</td>
                <td>
                  <img src="/assets/userPhoto8.png" alt="" class="imgUser" />
                </td>
                <td>Polly</td>
                <td>Nikols</td>
                <td>pnik@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 10 -->
              <tr>
                <td>10</td>
                <td>
                  <img src="/assets/userPhoto9.png" alt="" class="imgUser" />
                </td>
                <td>Nina</td>
                <td>Yellow</td>
                <td>ny@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 11 -->
              <tr>
                <td>11</td>
                <td>
                  <img src="/assets/userPhoto2.png" alt="" class="imgUser" />
                </td>
                <td>Bob</td>
                <td>Tommer</td>
                <td>bt@gmail.com</td>
                <td>0.0</td>
              </tr>
              <!-- row 7 -->
              <tr>
                <td>12</td>
                <td>
                  <img src="/assets/11zon_cropped.png" alt="" class="imgUser" />
                </td>
                <td>Paul</td>
                <td>Pauling</td>
                <td>pp@gmail.com</td>
                <td>0.0</td>
              </tr>
            </tbody>
          </div>
        </div>
      </table>
    </div>
    <table class="table2" style="margin-left: 770px">
      <!-- head -->
      <thead class="buttonsBook">
        <th></th>
        <th></th>
        <th></th>
        <th><button class="button1">Return book</button></th>
        <th>
          <button class="button1">Issue reserved <br />books</button>
        </th>
        <th></th>
      </thead>
      <thead class="buttonsBook2">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <thead>
        <tr>
          <th style="width: 0px;"></th>
          <th style="width: 100px;"></th>
          <th style="width: 200px">BOOK</th>
          <th style="width: 100px">DATE ISSUED</th>
          <th style="width: 100px">DATE OF RETURN</th>
          <th style="width: 110px"></th>
        </tr>
      </thead>
      <div class="container2">
        <div class="fixed-block"></div>
        <div class="scroll">
          <tbody>
            <th style="width: 50px;"></th>
          <th style="width: 150px;"></th>
          <th style="width: 200px"></th>
          <th style="width: 200px"></th>
          <th style="width: 200px"></th>
          <th style="width: 50px"></th>
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>Steven King - "Revival"</td>
              <td>01.10.2023</td>
              <td>04.10.2023</td>
              <td>
                <div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div>
              </td>
            </tr>
            
            
          </tbody>
        </div>
      </div>
    </table>
  </div>
  <div style="margin-left: 0px">
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Team</a></li>
    </ul>
  </div>
</body>
