<body>
  <div class="bar">
    <button class="button0" routerLink="/admin/home">HOME</button>
    <button class="button0" routerLink="/admin/books">BOOKS</button>
    <button class="button0" routerLink="/admin/users">USERS</button>
    <form action="" method="get">
      <input name="s" placeholder="SEARCH FOR BOOK HERE..." type="search" />
      <button type="submit" class="button4">SEARCH</button>
    </form>
    <a routerLink="/login" style="margin-left: 500px"
      ><img src="/assets/exit.png" alt="" style="width: 50px; height: 50px"
    /></a>
  </div>
  <div class="tables">
    <div class="addBook">
      <div class="addBookText">Add a new book</div>
      <div style="margin-left: 50px; margin-top: 10px">
        <div>
          <input type="text" placeholder="Title" class="addBookInput" />
        </div>
        <div>
          <input type="text" placeholder="Author" class="addBookInput" />
        </div>
        <div>
          <input type="text" placeholder="ISBN" class="addBookInput" />
        </div>
        <div>
          <input type="text" placeholder="Year" class="addBookInput" />
        </div>
      </div>
      <button
        class="button0"
        style="margin-top: 100px; margin-left: 120px; width: 150px"
      >
        ADD BOOK
      </button>
    </div>
    <table class="table">
      <!-- head -->

      <thead class="buttonsBook2">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>

      <thead>
        <tr>
          
          <th style="width: 10px">ID</th>
          <th style="width: 150px"></th>
          <th style="width: 300px">TITLE</th>
          <th style="width: 300px">AUTHOR</th>
          <th style="width: 200px">ISBN</th>
          <th style="width: 200px">YEAR</th>
          <th style="width: 200px">STATUS</th>

          <th style="width: 200px">DELETE</th>
          <th style="width: 200px">EDIT</th>
        </tr>
      </thead>
      <div class="container">
        <div class="fixed-block"></div>
        <div class="scroll">
          <tbody>
            <tr>
              <th style="width: 10px"></th>
              <th style="width: 150px"></th>
              <th style="width: 300px"></th>
              <th style="width: 300px"></th>
              <th style="width: 200px"></th>
              <th style="width: 200px"></th>
              <th style="width: 200px"></th>

              <th style="width: 100px"></th>
              <th style="width: 100px"></th>
            </tr>
            <!-- row 1 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>"Revival"</td>
              <td>Stephen King</td>
              <td>9780446310789</td>
              <td>2010</td>
              <td>
                <span class="available" style="text-align: left"
                  >available</span
                >
              </td>
              <td>
                <button class="buttonBook1">DELETE</button>
              </td>
              <td>
                <button class="buttonBook2">EDIT</button>
              </td>
            </tr>
            <!-- row 2 -->
            <tr>
              <td>1</td>
              <td><img src="/assets/book1.jpg" alt="" class="imgBook" /></td>
              <td>"Revival"</td>
              <td>Stephen King</td>
              <td>9780446310789</td>
              <td>2010</td>
              <td>
                <span class="available" style="text-align: left"
                  >available</span
                >
              </td>
              <td>
                <button class="buttonBook1">DELETE</button>
              </td>
              <td>
                <button class="buttonBook2">EDIT</button>
              </td>
            </tr>
            <!-- row 3 -->
            
          </tbody>
        </div>
      </div>
    </table>
  </div>
  <div style="margin-left: 0px">
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Team</a></li>
    </ul>
  </div>
</body>
