<meta name="viewport" content="width=device-width, initial-scale=1" />
<body>
  <div class="bar">
    <button class="button1">
CART
      <ul class="submenu">
        <table class="table2">
          <div class="container3">
            <div class="fixed-block"></div>
            <div class="scroll">
            
              <th style="width: 300px;"></th>
              <th style="width: 50px;"></th>
              <th style="width: 50px;"></th>

        <!--CART SUBMENU-->

              <tr>
                <td>Stephen King <br> "The Outsider"</td>
                <td>(2)</td>
                <td><div>
                  <input
                    id="highload0"
                    class="checkbox-custom"
                    name="highload0"
                    type="checkbox"
                    style="height: 20px; width: 20px"
                  />
                  <label for="highload0" class="checkbox-custom-label"></label>
                </div></td>
              </tr>
              <tr>
            </div>
          </div>
        </table>
        <button class="button3">DELETE BOOK(S)</button>
        <button class="button3">RESERVE BOOK(S)</button>
        <button class="button3">CLEAR CART</button>
      </ul>
    </button>
    
    <form action="" method="get">
      <input name="s" placeholder="SEARCH HERE..." type="search" />
      <button type="submit" class="button4">SEARCH</button>
    </form>
    <a (click)="onLogOutButtonClick()" style="margin-left: 550px"
      ><img src="/assets/exit.png" alt="" style="width: 50px; height: 50px"
    /></a>
  </div>

  <div class="block">
    <div class="avatar" style="margin-top: 100px; margin-left: 145px">
      <div class="w-24 rounded-full">
        <img src="/assets/userPhoto.jpg" />
      </div>
    </div>
    <p class="userText">{{getUserName()}}</p>
    <p class="userText">user1snooppi@gmail.com</p>
    <button class="button2" routerLink="/user/account">EDIT PROFILE</button>
    <p class="userText2">BORROWED BOOKS</p>
  </div>

  <table>
    <div class="container2">
      <div class="fixed-block"></div>
      <div class="scroll">
        <th style="width: 100px"></th>
        <th style="width: 200px;"></th>
        <th style="width: 200px;"></th>
        <tr>
          <td>image</td>
          <td>title</td>
          <td>author</td>
          <td>date of return</td>
        </tr>
        <tr *ngFor="let bbook of borrowedBooks">
          <td>
            <img src="/assets/book1.jpg" alt="" class="imgBorrowedBook" />
          </td>
          <td>{{bbook.book.title}}</td>
          <td>{{bbook.book.author.name}}</td>
          <td>{{bbook.dateOfReturn}}</td>
        </tr>
      </div>
    </div>
  </table>


  <div class="container">
    <div class="fixed-block"></div>
    <div class="scroll">
      <div id="line_block" class="hover-image-scale" *ngFor="let book of books">
        <img src="/assets/book1.jpg" alt="" class="imgBook" />
        <span class="available">{{book.status}}</span>
        <div class="img__description">
        <p>
          {{book.title}}  <br /> 
          by {{book.author.name}}<br />
        </p>

        <div >
          <button class="btn btn-xs text-x">description</button>
        </div>

        <div>
          <button class="button5">ADD TO CART</button>
        </div>
        </div>
      </div>
    </div>
  </div>




  <div style="margin-left: 0px;">
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Team</a></li>
    </ul>
  </div>
</body>
