body {
  margin: auto;
  outline: none;
  background-image: url(/assets/background_img4.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 710px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.bar {
  width: auto;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgba(128, 128, 128, 0.306);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.block {
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.749);
  top: 0;
  margin-left: 50px;
  border: 3px solid rgba(128, 128, 128, 0.306);
  display: inline-block;
  position: fixed;
}
.block2 {
  width: 1000px;
  height: 705px;
  background-color: rgba(0, 0, 0, 0.872);
  margin-left: 500px;
  border: 3px solid rgba(128, 128, 128, 0.306);
  display: inline-block;
  position: fixed;
}
.block3 {
  width: 400px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0);

  margin-left: 50px;
  display: inline-block;
  position: fixed;
  margin-top: 210px;
}
.text1 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.575);
  font-family: Kaisei Decol;
  text-align: center;
  margin-top: 20px;
}
.text2 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.575);
  font-family: Kaisei Decol;
  text-align: center;
  margin-top: 50px;
  animation: ch-color 3s infinite;
}
.button2 {
  margin-top: 8px;
  width: 100px;
  height: 35px;
  background: rgba(0, 0, 0, 0.461);
  color: #ffffffae;
  text-align: center;
  text-shadow: rgba(255, 255, 0, 0.041);
  font-family: Kaisei Decol;
  font-size: 15px;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
  border: 1px solid grey;
}
.button3 {
  margin-top: 8px;
  width: 200px;
  height: 35px;
  background: rgba(0, 0, 0, 0.461);
  color: #ffffffae;
  text-align: center;
  text-shadow: rgba(255, 255, 0, 0.041);
  font-family: Kaisei Decol;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 385px;
  border: 1px solid grey;
}
table {
  border-collapse: collapse;

  text-align: center;

  width: 400px;
  color: rgba(255, 255, 255, 0.795);
}
input {
  width: 700px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.304);
  margin-top: 30px;
  margin-left: 130px;
  color: #f9f7f7c6;
  text-align: center;
  font-size: large;
  font-family: Kaisei Decol;
}
input::-webkit-input-placeholder {
  color: rgba(243, 238, 238, 0.66);
  opacity: 70%;
  text-align: center;
  font-size: large;
  font-family: Kaisei Decol;
}

th {
  border: 2px solid rgb(43, 37, 37);
  background-color: black;
}
td {
  border: 1px solid rgb(0, 0, 0);
}
.tableCaption {
  color: rgba(255, 255, 255, 0.562);
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}
tr {
  border: 1px solid rgb(51, 48, 48);
  background-color: rgba(0, 0, 0, 0.58);
  word-break: break-all;
}
button:hover {
  transition: 1s;
  color: white;
  background: rgb(3, 3, 3);
}
@keyframes ch-color {
  0% {
    text-shadow: 0px 4px 4px rgba(255, 204, 0, 0.418);
  }
  25% {
    text-shadow: 0px 4px 4px rgba(255, 216, 45, 0.854);
  }
  50% {
    text-shadow: 0px 4px 4px rgba(255, 213, 0, 0.555);
  }
  75% {
    text-shadow: 0px 4px 4px rgba(255, 225, 103, 0.897);
  }
  100% {
    text-shadow: 0px 4px 4px rgba(255, 200, 0, 0.452);
  }
}
