<body>
  <div class="block">
    <div
      class="avatar online"
      style="float: left; margin-left: 50px; margin-top: 20px"
    >
      <div class="w-24 rounded-full">
        <img src="/assets/userPhoto.jpg" />
      </div>
    </div>
    <div class="text1">
      User1 <br />
      user1snooppi@gmail.com
    </div>
    <button class="button2">SAVE PROFILE</button>
    <button class="button2" routerLink="/user/home">HOME</button>

    <div class="userText2">BORROWED BOOKS</div>
  </div>
  <div class="block3">
    <table>
      <div class="container2">
        <div class="fixed-block"></div>
        <div class="scroll">
          <th style="width: 100px"></th>
          <th style="width: 200px"></th>
          <th style="width: 200px"></th>
          <tr>
            <td>
              <img src="/assets/book1.jpg" alt="" class="imgBorrowedBook" />
            </td>
            <td>Stephen King</td>
            <td>"Revival"</td>
          </tr>
          <tr>
            <td>
              <img src="/assets/book5.jpg" alt="" class="imgBorrowedBook" />
            </td>
            <td>Stephen King</td>
            <td>"The Outsider"</td>
          </tr>
          <tr>
            <td>
              <img src="/assets/book14.jpg" alt="" class="imgBorrowedBook" />
            </td>
            <td>Edgar Allan Poe</td>
            <td>"The Raven"</td>
          </tr>
          <tr>
            <td>
              <img src="/assets/book20.jpg" alt="" class="imgBorrowedBook" />
            </td>
            <td>Daniel Keyes</td>
            <td>"The Minds Of Billy Milligan"</td>
          </tr>
          <tr>
            <td>
              <img src="/assets/book21.jpg" alt="" class="imgBorrowedBook" />
            </td>
            <td>Stephen King</td>
            <td>"Carrie"</td>
          </tr>
        </div>
      </div>
    </table>
  </div>
  <div class="block2">
    <div class="text2">Change personal information</div>
    <div>
      <input id="username" type="text" placeholder="username" />
    </div>
    <div>
      <input id="email" type="text" placeholder="email" />
    </div>
    <button (click)="changePersonalInfo()" class="button3">CONFIRM</button>
    <div class="text2">Change your password</div>
    <div>
      <input id="oldpassword" type="password" placeholder="Enter old password" />
    </div>
    <div>
      <input id="newpassword" type="password" placeholder="Enter a new password" />
    </div>
    <div>
      <input id="confirmpassword" type="password" placeholder="Confirm your new password" />
    </div>
    <button (click)="changePassword()" class="button3">CONFIRM</button>
    <div class="text2">You can delete your profile</div>
    <button (click)="deleteProfile()" class="button01">DELETE PROFILE</button>
  </div>
  <div style="margin-left: 570px;">
  <ul>
    <li><a href="#">Help</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Team</a></li>
  </ul>
</div>
</body>
