<meta name="viewport" content="width=device-width, initial-scale=1" />
<body>
  <div class="bar">
    <button class="button1">
      CART
      <ul class="submenu">
        <button class="button3">RESERVE BOOKS</button>
        <button class="button3">CLEAR CART</button>
      </ul>
    </button>
    <form action="" method="get">
      <input name="s" placeholder="SEARCH HERE..." type="search" />
      <button type="submit" class="button4">SEARCH</button>
    </form>
  </div>
  <div class="block">
    <div class="avatar online" style="margin-top: 100px; margin-left: 100px">
      <div class="w-24 rounded-full">
        <img src="/assets/userPhoto.jpg" />
      </div>
    </div>
    <p class="userText">User1</p>
    <p class="userText">user1snooppi@gmail.com</p>
    <table>
      <th>BORROWED BOOKS</th>
      <tr>
        Test-"Test1"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
      <tr>
        Test-"Test2"
      </tr>
    </table>
    <button class="button2" routerLink="/login">EDIT PROFILE</button>
    <button class="button2" routerLink="/startpage">EXIT</button>
  </div>
  <div class="container">
    <div class="fixed-block"></div>
    <div class="scroll">
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book1.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          REVIVAL <br /><br />November 11, 2014 <br /><br />Stephen King <br />
          <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>

      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book4.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book5.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>

      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book6.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book7.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book8.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>

      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book2.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book9.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book10.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>

      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book11.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book12.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book3.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book14.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book15.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book16.png" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book17.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book18.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book19.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book20.jpg" alt="" width="210px" height="300px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
      <div id="line_block" class="hover-image-scale">
        <img src="/assets/book21.jpg" alt="" width="200px" height="290px" />
        <p class="img__description">
          description <br />
          <span class="available">available</span>
          <button class="button5">ADD TO CART</button>
        </p>
      </div>
    </div>
  </div>
  <ul>
    <li><a href="#">Help</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Team</a></li>
  </ul>
</body>
