<section>
    <div class="block">
        <div class="img1 divin">
            <img src="/assets/book1.jpg" alt="" class="grey-image" />
          </div>
      <div class="text1">
        "REVIVAL"
      </div>
      <div class="text6">Stephen King</div>
      <div class="text7">2014</div>
      <div class="text0">9780446310789</div>
      <button class="buttonHome" routerLink="/admin/books">BOOKS</button>
      <button class="buttonHome" routerLink="/admin/home">HOME</button>
      
      <div class="box">
        <div class="text2">Change book information</div>
        <div class="text3">
            Input new title
          </div>
        <div>
          <input type="text" placeholder="New Title" />
        </div>
        <button>CONFIRM</button>
        <div class="text3">
            Input new author
          </div>
        <div>
          <input type="text" placeholder="New Author" />
        </div>
        <button>CONFIRM</button>
        <div class="text3">
            Input new year of release
          </div>
        <div>
          <input type="text" placeholder="New Year Of Release" />
        </div>
        <button>CONFIRM</button>
        <div class="text3">
            Input new ISBN
          </div>
        <div>
          <input type="password" placeholder="New ISBN" />
        </div>
        <button>CONFIRM</button>
      </div>
      <div class="text4">
        
        Free Library
        
      </div>
      
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
  </section>
  
